In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('QVI_data.csv')

In [4]:
dataset.head()

,LYLTY_CARD_NBR,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,PACK_SIZE,BRAND,LIFESTAGE,PREMIUM_CUSTOMER
0,1000,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,175,NATURAL,YOUNG SINGLES/COUPLES,Premium
1,1002,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,150,RRD,YOUNG SINGLES/COUPLES,Mainstream
2,1003,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,210,GRNWVES,YOUNG FAMILIES,Budget
3,1003,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,175,NATURAL,YOUNG FAMILIES,Budget
4,1004,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,160,WOOLWORTHS,OLDER SINGLES/COUPLES,Mainstream

In [5]:
total_sales = sum(dataset['TOT_SALES'])

In [6]:
print(total_sales)

1469024.2499999332

In [8]:
dataset.describe()

,LYLTY_CARD_NBR,STORE_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES,PACK_SIZE
count,201634.000000,201634.000000,201634.000000,201634.000000,201634.000000,201634.000000,201634.000000
mean,103291.838519,103.118745,102914.684944,56.556756,1.904535,7.285598,182.307096
std,57860.142981,57.858092,59400.806881,32.821327,0.345158,2.527897,64.240479
min,1000.000000,1.000000,1.000000,1.000000,1.000000,1.500000,70.000000
25%,57032.000000,57.000000,51457.250000,28.000000,2.000000,5.400000,150.000000
50%,102229.000000,102.000000,102924.500000,56.000000,2.000000,7.400000,170.000000
75%,154215.000000,154.000000,154352.750000,85.000000,2.000000,8.800000,175.000000
max,207201.000000,207.000000,205788.000000,114.000000,5.000000,29.500000,380.000000

In [11]:
 Total_customer = 241584

In [10]:
dataset.shape

(201634, 12)

In [12]:
avg_trns = Total_customer/201634

In [13]:
print(avg_trns)

1.1981312675441642